<!-- the data here is dynaminc/hardcoded we want to make data dynamic/automated -->
<!-- we are sending parent to child data with input decorator -->
<h1>
  Name :- {{name}}
  Male :- {{isMale}}
  Age :- {{age}}
</h1>

<button (click)="sendData1()" class="border-2 border-black p-1">Send Data 1</button>
<br>
<button (click)="sendData2()" class="border-2 border-black p-1">Send Data 2</button>
<br>
<button (click)="sendData3()" class="border-2 border-black p-1">Send Data 3</button>

<p>Here Some Text</p>
