<div class="flex sm:flex-row flex-wrap bg-green-200 justify-around items-center flex-row p-1.5">
  <div class="flex flex-wrap justify-around  items-center flex-row-reverse w-full sm:w-auto">
  <ul class="flex flex-wrap list-none sm:flex-nowrap p-0 m-0">
    <li class="inline space-x-4 hover:bg-green-500">
      <i class=""></i>
      <a href="#Home" class="p-1.5 m-1 block">Home</a>
    </li>
    <li class="inline space-x-4 hover:bg-green-500 ">
      <i class=""></i>
      <a href="#Shop" class="p-1.5  m-1 block ">Shop</a>
    </li>
    <li class="inline space-x-4 hover:bg-green-500">
      <i class=""></i>
      <a href="#Services" class="p-1.5  m-1 block ">Services</a>
    </li>
    <li class="inline space-x-4 hover:bg-green-500 ">
      <i class=""></i>
      <a href="#Contact Us " class="p-1.5  m-1 block ">Contact Us</a>
    </li>
    <li class="inline space-x-4 text-center items-center hover:bg-green-500">
      <i class=""></i>
      <a href="#About" class="p-1.5  m-1 block ">About</a>
    </li>
  </ul>
</div>
<app-search></app-search>
<app-profile></app-profile>
</div>
